<!-- <home-app></home-app>
<users-app></users-app>
<server-app></server-app> -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs" style=" justify-content:space-between">
        <li
          role="presentation"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/">Home</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/server">Server</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a [routerLink]="['/users']">Users</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a [routerLink]="['/userForm']">UserForm</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a [routerLink]="['/reactiveForm']">ReactiveForm</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a [routerLink]="['/myPipes']">MyPipes</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<!-- <button class="btn btn-primary">Submit</button> -->
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
